<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>autowiredAdmin</title>

</head>
<body class="margin">

<style>
    .margin {
        margin: 0;
        padding: 0;
        background-color: burlywood;
        border-radius: 1px 1px 1px 1px;
        border-color: rgb(172, 107, 23);
        font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    }

</style>
<style>
    .center{
        Display: flex;
        justify-content: center;
        align-items: center;

    }
</style>


<form name="autowiredAdmin" action="autowiredAdmin" method="POST" class="center">
    <table>
        <tr>
            <th><p>Логин</p></th>
            <th> <input  id="doerInsertSearch" name="login" type="text" autocomplete="off"   style="border: 3px #00B344 solid"></th>

        </tr>

        <tr>
            <th><p>Пароль</p></th>
            <th><input style="border: 3px #00B344 solid" name="password" type="text" autocomplete="off"></th>
        </tr>


    </table>
    <input type="submit" value="Авторизоваться">
</form>
</body>
</html>