<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>autowiredAdmin</title>
</head>
<body>

<form name="autowiredAdmin" action="autowiredAdmin" method="POST">
    <table>
        <tr>
            <th><p>Логин</p></th>
            <th> <input  id="doerInsertSearch" name="login" type="text" autocomplete="off"   style="border: 3px #00B344 solid"></th>

        </tr>

        <tr>
            <th><p>Пароль</p></th>
            <th><input style="border: 3px #00B344 solid" name="password" type="text" autocomplete="off"></th>
        </tr>


    </table>
    <input type="submit" value="Авторизоваться">
</form>
</body>
</html>