<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Test Doer</title>

    <script src="jquery.js"></script>

    <script src="Doer.js"></script>

    <link rel="stylesheet" href="style.css">
</head>
<body>
<div th:insert="~{banner :: topBanner}" ></div>

    <form name="formSearchDoer" action="formSearchDoerByName" method="POST">
        <label for="doerSearch">Поиск деятеля</label>
        <input id="doerSearch" name="chars" type="text" autocomplete="off" placeholder="начните ввод" list="doer-datalist" onkeyup="charsByPerson()">

        <button type="submit"> <img src="find_search.png" alt="искать"
                                                         style="vertical-align: middle">Искать</button>

        <p style="margin-top: -2px; opacity: 0.5">можно вводить<em style="opacity: 1">одну букву, несколько, полное имя</em></p>
    </form>

    <div >
        <a  href="/insertDoer">Добавить цитату</a>
    </div>




    <datalist id="doer-datalist"></datalist>

    <ul>
        <li th:each="doer: ${doersSearchResult}">
            <a th:href="@{/QuotesDoer(id=${doer.id})}"  th:utext="${doer.name} + ' ' + ${doer.surName}" >
                <form name="likeDoer" action="likeDoer" method="post">
                <button type="submit"> <img src="find_search.png" alt="оценить">
                </button>
                </form>
            </a>

        </li>
    </ul>


    <div th:insert="~{banner :: bottomBanner}"></div>

</body>
</html>