<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Test Doer</title>

    <script src="jquery.js"></script>

    <script type="text/javascript">
        function onKey() {
            $('#doer-datalist').empty();

            let chars = $("#doerSearch").val();
            //console.log(chars);
            $.ajax({
                url: "/dataSearchDoerByName",
                type: "GET",
                data: {"chars" : chars}
            }).then(function(doers) {
                //console.log(doerList);
                doers.forEach(function(item) {
                    // Create a new <option> element.
                    $('#doer-datalist').append($("<option>").text(item.name + ' ' + item.surName));
                });
            });
        }

    </script>

    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div th:insert="~{banner :: topBanner}"></div>

    <form name="formSearchDoer" action="formSearchDoerByName" method="POST">
        <label for="doerSearch">Поиск Деятеля</label>
        <input id="doerSearch" name="chars" type="text" autocomplete="off" placeholder="начните ввод" list="doer-datalist" onkeyup="onKey()">

        <button type="submit"> <img src="find_search.png" alt="искать"
                                                         style="vertical-align: middle">Искать</button>

        <p style="margin-top: -2px; opacity: 0.5">можно вводить<em style="opacity: 1">одну букву, несколько, полное имя</em></p>
    </form>

    <div >
        <a  href="/insertDoer">Добавить цитату</a>
    </div>




    <datalist id="doer-datalist"></datalist>

    <ul>
        <li th:each="doer: ${doersSearchResult}">
            <a th:href="@{/QuotesDoer(id=${doer.id})}"  th:utext="${doer.name} + ' ' + ${doer.surName}"></a>
        </li>
    </ul>


    <div th:insert="~{banner :: bottomBanner}"></div>

</body>
</html>