<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Doer</title>
</head>

<body>

<div>
    <form name="doer_form" action="quote" method="POST">
        <input  name="doer" type="text">
        <input  type="submit" value="Искать">
    </form>
</div>

<ul>
    <li th:each="doer: ${doers}">
        <a th:href="@{/toDoer(id=${doer.id})}" th:utext="${doer.name} + ' ' + ${doer.surName}"></a>
    </li>

    </a>
</ul>

 </body>
 </html>
