<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Doer</title>
</head>

<body>

<div>
    <form name="doer_form" action="quote" method="POST">
        <input  name="doer" type="text">
        <input  type="submit" value="Искать">
    </form>
</div>

<div>
    <a  href="/insertDoer?id=100">Добавить цитату</a>
</div>


<ul>
    <!--li th:each="quote: ${quotes}" th:text="${quote.text}"></li-->

    <li th:each="doer: ${doers}" th:utext="${doer.name}">
    </li>

    </a>
</ul>

 </body>
 </html>
