<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Главная Старница</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <!--a href="/mainPage"><img src="home2.png" style="width:42px;height:42px;"></a-->

    <div th:insert="~{banner :: topBanner}"></div>

    <div>
        <a  href="/findQuote">Найти цитату</a>
    </div>
    <div>
        <a  href="/doerSearchPage">Найти автора</a>
    </div>

    <div th:insert="~{banner :: bottomBanner}"></div>

</body>
</html>