<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Doer</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div th:insert="~{banner :: topBanner}"></div>

    <div>
        <h2><span th:text="${name}" /></h2>
    </div>

    <table>
        <tr th:each="doersAndQuote : ${resultByShow}">
        <td th:text="${doersAndQuote.text}">

        </td>

        <td> <a th:href="@{/likesQuote(idQuote=${(doersAndQuote.idQuote)}, idDoer=${(doersAndQuote.id)})}"> <img src="like32px.png"></a><td>

        <td> <a th:text="${doersAndQuote.likes}"></a><td>

    </table>
    <div th:insert="~{banner :: bottomBanner}"></div>
 </body>
 </html>
